.ad-i-action-btn {
  min-width: 95px;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  transition: 0.2s ease;
}

.ad-i-action-btn.i-suspend {
  background-color: #ef4444;
}

.ad-i-action-btn.i-activate {
  background-color: #22c55e;
}

.ad-i-action-btn:hover {
  opacity: 0.9;
}