body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Segoe UI", sans-serif;
}

/* First Section */
.first-Part {
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    gap: 40px;
}

/* Content */
.first-psrt-content {
    max-width: 550px;
}

.first-psrt-content h1 {
    font-size: 48px;
    color: #6b6b6b; /* Bitcoin Orange */
    margin-bottom: 20px;
}

.first-psrt-content p {
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
}

/* Image */
.first-part-image{
    width: 380px;
    animation: float 3s ease-in-out infinite;
      position: relative;
}

.first-part-image::after {
    content: "";
    position: absolute;
    bottom: 48px;
    left: 65%;
    transform: translateX(-50%);
    width: 115%;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    border-radius: 50%;
    z-index: -1;
}
/* Floating Animation */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}