* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.login-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #fff;
  width: 100%;
  max-width: 420px;
  padding: 40px 30px;
  border-radius: 12px;
}

 .login-content .logo {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

 .card h1 {
  text-align: center;
  margin-bottom: 8px;
}

.card .subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.login-content label {
  font-size: 14px;
  margin-bottom: 6px;
}
.login-error{
  width: 100%;
  padding:  0px 10px;
  margin-bottom: 20px;
  color: red;
}
 .login input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #f1f3f5;
  margin-bottom: 18px;
}

.password-box {
  position: relative;
}

.eye {
  position: absolute;
  right: 12px;
  top: 22px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
}
.options input{
    width: 20%;
    margin-top: 4px;
}
.remember{
    display: flex;
}
.r{
    width: 200px;
}
.sign-in{
    color: white;
    background-color: black;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 40px;
}