.cl-n-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: rgba(255, 255, 255, 0.08); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
  z-index: 10;
}
.cl-n-logo a {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.cl-n-links a,
.cl-n-login {
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.cl-n-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cl-n-login {
  text-decoration: none;
  font-weight: 500;
}

.cl-n-login:hover {
  color: #2563eb;
}

.cl-n-register {
  position: relative;
  color: #2563eb;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px; /* 🔥 hover bridge */
}

.cl-n-register span {
  padding: 6px 10px;
  display: inline-block;
}

.cl-n-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0; /* no gap */
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: none;
  flex-direction: column;
  z-index: 999;
}

.cl-n-register:hover .cl-n-dropdown {
  display: flex;
}

.cl-n-dropdown a {
  padding: 10px 14px;
  text-decoration: none;
  color: #374151;
  font-size: 14px;
}

.cl-n-dropdown a:hover {
  background: #f3f4f6;
  color: #2563eb;
}
