* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.regi-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.regi-card {
  width: 420px;
  padding: 40px 32px;
  background: #fff;
  border-radius: 12px;
}

.regi-logo {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.regi-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.regi-subtitle {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 28px;
}

.regi-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.regi-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.regi-error{
  height: 20px;
  font-size: 16px;
  color: red;
  padding: 5px;
}
.regi-field label {
  font-size: 13px;
  color: #333;
}

.regi-field input {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  background: #f5f7fa;
  font-size: 14px;
  outline: none;
}

.regi-password {
  position: relative;
}

.regi-eye {
  position: absolute;
  right: 14px;
  top: 36px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.6;
  color: black;
}

.regi-btn {
  margin-top: 18px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.regi-btn:hover {
  background: #000;
}

.regi-footer {
  margin-top: 24px;
  text-align: center;
  font-size: 13px;
  color: #666;
}

.regi-footer a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
