/* Wrapper to center everything */
.coins-wrapper {
    display: flex;
    flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.coin-header {
background: linear-gradient(135deg, #eaf1ff, #f8fbff);
  border-radius: 12px;
  padding: 14px 12px;
  font-size: 13px;
  color: #6b7280;
  border: none;
}
.coin-header {
  justify-content: center;
  display: grid;
  grid-template-columns: 40px 220px 120px 80px 80px 80px 160px 160px 120px;
  background: #f0f0f0;
}
.coins-container {
  width: 100%;
background: linear-gradient(135deg, #eaf1ff, #f8fbff);
}
.search-cont{
background: linear-gradient(135deg, #eaf1ff, #f8fbff);
  padding: 10px 0;
}
.coins-search {
  width: 420px;
  max-width: 90%;
  height: 52px;
  padding: 0 18px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 14px;
  margin: 0px auto;
  display: block;
  text-align: left;
}

.coins-search::placeholder {
  color: #9ca3af;
}
.coins-search:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.12);
}

.coin-row {
  display: grid;
  grid-template-columns: 40px 220px 120px 80px 80px 80px 160px 160px 120px;
  align-items: center;
  padding: 16px 14px;
  margin-bottom: 10px;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  transition: all 0.25s ease;
  cursor: pointer;
}

.coin-row:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
.coin-header,
.coin-row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.coin-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin-info img {
  width: 28px;
  height: 28px;
}

.symbol {
  font-size: 12px;
  color: gray;
}

.green {
  color: #16c784;
}

.red {
  color: #ea3943;
}

.coin-price,
.coin-volume,
.coin-marketcap {
  /* font-weight: 600; */
  color: #111;
}

/* Chart */
.coin-chart {
  width: 110px;
  height: 40px;
}
small{
  padding: 0 5px;
}
.watchlist-row {
  display: flex;
  align-items: center;
}
.coins-wrapper {
  align-items: center;
}
.watchlist-row .coin-row {
  flex: 1; 
}

.remove-btn {
  margin-left: 12px;
}
.highlight-row {
  background: #eff6ff;
  /* border: 1px solid #6c96f2; */
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.15);
  transform: scale(1.01);
}
.highlight-row:hover {
  background: #eaf1ff;
}
@media (max-width: 768px) {

  /* Enable horizontal scroll */
  .coins-container {
    overflow-x: auto;
    position: relative;
  }

  /* Sticky FIRST column (#) */
  .coin-header span:nth-child(1),
  .coin-row .coin-rank {
    position: sticky;
    left: 0;
    background: white;
    z-index: 5;
  }

  /* Sticky SECOND column (Coin) */
  .coin-header span:nth-child(2),
  .coin-row .coin-info {
    position: sticky;
    left: 40px; /* width of first column */
    background: white;
    z-index: 5;
    max-width: 150px;
  }
  .coin-row,
  .coin-header {
    min-width: 1100px;
  }
}
