.hero-container {
  width: 100%;
  padding: 60px 80px;
background: linear-gradient(135deg, #eaf1ff, #f8fbff);
  font-family: "Poppins", sans-serif;
}
.hero-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-left {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  color: #111;
  line-height: 1.2;
}

.hero-subtext {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
  max-width: 450px;
}

.hero-cta {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-cta span {
  font-size: 15px;
  color: #3d4a5e;
  cursor: pointer;
  transition: 0.3s;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 100%;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.hero-cta {
  margin-top: 30px;
}

.hero-stats {
  display: flex;
  gap: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.stat:hover {
  transform: translateX(5px);
}
.stat:hover .stat-value,
.stat:hover .stat-label {
  color: rgb(41, 33, 33);
}
.stat-value {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.stat-label {
  font-size: 13px;
  color: #777;
}
/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-top {
    flex-direction: column;
    text-align: center;
  }

  .hero-features {
    flex-direction: column;
  }
}