.in-footer {
  background: #f4fbf6;
  padding: 50px 80px;
  border-top: 1px solid #e5e7eb;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
  max-width: 1200px;   
  margin: 0 auto;      
  align-items: center; 
}

.footer-left {
  max-width: 300px;
  gap: 10px;
}
.i-footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-left img {
  width: 50px;   
  vertical-align: middle;
    margin-bottom: 10px;
}

.footer-left h2 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  vertical-align: middle;
}
.footer-left p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
}


.footer-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
  color: #6b7280;
  position: relative;
  transition: all 0.25s ease;
}


.footer-links a:hover {
  color: #2563eb;
  padding-left: 6px;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #e5e7eb;
  text-align: center;
}

.footer-bottom p {
  font-size: 13px;
  color: #9ca3af;
}

@media (max-width: 768px) {
  .in-footer {
    padding: 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-left {
    max-width: 100%;
  }
}